{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}
{% block jumbotron %} {{ page_name }} {% endblock %}

{% block body %}
<div class="container">
	<h2>Ajouter une lettre de motivation</h2>
		{{ include('admin/lm/_form.html.twig', {form: form, button: 'Sauvegarder'}) }}
</div>
{% endblock %}